.category-banner {
    width: 100%;
    margin: auto;
}
.category-banner .category-banner-img {
    align-self: center;
    min-height: 320px;
    width: 70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.category-banner .category-banner-desc {
    background-color: rgb(27, 37, 44);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 320px;
    padding: 20px 100px;
    width: 30%;
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
}
.category-banner .category-banner-desc h3 {
    margin-top: initial;
}
.category-banner .category-banner-desc hr {
    border: 5px solid #1f39ff;
    width: 100px;
    margin: 0px auto;
}
.category-banner .category-banner-desc button {
    width: 200px;
}
@media (max-width: 1023px) {
    .category-banner {
      flex-direction: column-reverse;
      align-items: center;
      width: 100%;
    }
    .category-banner .category-banner-img {
      width: 100%;
    }
    .category-banner .category-banner-desc {
      width: 80%;
      text-align: center;
      align-items: center;
      padding: 0px 20px;
      position: relative;
      top: -50px;
    }
}

.product-list {
    width: 70%;
    margin: auto;   
    padding: 35px 0px;
}
.product-list .product {
    text-align: center;
}
.product-list .product a {
    text-decoration: none;
    color: initial;
}
.product-list .product .product-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 350px;
}
.product-list .product .product-title, 
.product-list .product .product-price,
.product-list .product .product-action
{
    text-align: left;
    padding-top: 10px;
}
.product-list .product .product-action button {
    margin-right: 15px;
    width: 24px;
    height: 24px;
    min-width: initial;
    padding: initial;
    background: initial;
    cursor: pointer;
    box-shadow: initial;
}
.product-list .product .product-action button i {
    display: block;
    width: 100%;
    height: 100%;
}
.product-list .product .product-action button .cart-icon { 
    background: url('../../assets/shopping-cart.svg') no-repeat;
    background-size: contain;
}
.product-list .product .product-action button .fav-icon { 
    background: url('../../assets/heart.svg') no-repeat;
    background-size: 24px;
}

@media (max-width: 1023px) {
    .product-list {
        width: 90%;
    }
    .product-list .container {
        grid-template-columns: repeat(4, 1fr);
    }
}